<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <div class="contentContainer m-4">
        <p class="h1 m-4">Login de Usuario</p>
        <div class="formContainer">
            <form action="/login" method="post" class="form m-4" id="loginForm">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Ingrese su email:</label>
                    <input type="text" name="email" class="form-control" id="inputName">
                    <label for="inputName" class="form-label">Ingrese contrasena:</label>
                    <input type="password" name="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
        <button class="btn btn-primary m-4" onclick="location.href='/register'">Ir a Registro</button>
    </div>
    <%- include("./partials/scripts.ejs") %>
</body>
</html>
