<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <div class="contentContainer m-4">
        <p class="h1">Vista de Productos</p>
        <%- include("./partials/emptyAlert.ejs") %>
        <%- include("./partials/productTableFaker.ejs") %> 
    </div>
    <%- include("./partials/scripts.ejs") %>
    <script src="index.js"></script>
</body>
</html>