<div class="m-4 contentContainer">
	<p class="h1 m-4">Central de mensajes</p>
	<p
		class="h5 m-4"
		id="username">
		Usuario: <%= user.email %>
	</p>
	<div class="m-4">
		<div id="chatContainer"></div>
		<form
			action=""
			id="chatForm">
			<input
				type="text"
				id="messageChat" />
			<button type="submit">Enviar</button>
		</form>
	</div>
</div>
