<div class="contentContainer greeting m-4">
	<div class="greetingText">
		<p class="h1">Bienvenido</p>
		<p class="h1" id="username"><%= user.name %></p>
	</div>
	<button
		type="button"
		class="btn btn-warning m-4"
		onclick="location.href='/logout'">
		Logout
	</button>
</div>
