<div class="m-4 contentContainer">
    <p class="h1 m-4">Ingrese un producto</p>
    <div class="formContainer">
        <form action="" class="form m-4" id="productForm">
            <div class="mb-3">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" name="name" class="form-control" id="inputName">
            </div>
            <div class="mb-3">
                <label for="inputPrice" class="form-label">Precio</label>
                <input type="number" name="price" class="form-control" id="inputPrice">
            </div>
            <div class="mb-3">
                <label for="inputThumbnail" class="form-label">Thumbnail</label>
                <input type="url" name="thumbnail" class="form-control" id="inputThumbnail" placeholder="https://www.iconfinder.com/free_icons">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

