<div class="m-4" id="tableContainer">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody id="productsContainer"></tbody>
    </table>
</div>