<div class="m-4" id="tableContainer">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody id="productsContainerFaker">
            <% products.forEach(function(product){ %>
                <tr>
                    <th scope="row" class="align-middle"> <%= product.title %> </th>
                    <td class="align-middle"><%= product.price %></td>
                    <td class="align-middle"><img src=<%= product.thumbnail %> class="thumbnail"></td>
                </tr>
            <%})%> 
        </tbody>
    </table>
</div>